<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Asientos</title>
</head>
<body>
    <h1>Seleccione sus asientos</h1>
    <form th:action="@{/carrito}" method="post" id="form">
        <input type="hidden" name="idFuncion" th:value="${funcion.id}" />
        <table>
            <tbody>
            <tr th:each="fila : ${#numbers.sequence(0, (asientos.size() - 1) / 5)}">
                <td th:each="asiento : ${asientos.subList(fila * 5, T(java.lang.Math).min((fila + 1) * 5, asientos.size()))}">
                    <input
                            th:text="${asiento.numero}"
                            th:disabled="${!asiento.disponible}"
                            th:attr="name='idAsiento', value=${asiento.id}"
                            type="checkbox"
                            class="checkbox-asiento"
                    >
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" form="form">Escoger asientos</button>
        <a href="../">Regresar</a>
    </form>
</body>
</html>