<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Asientos</title>
</head>
<body>
    <h1>Seleccione sus asientos</h1>
    <form action="/tickets" method="post" id="form">
        <input type="hidden" name="idFuncion" th:value="${funcion.id}" />
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
    <table>
        <tbody>
        <tr th:each="fila : ${#numbers.sequence(0, (asientos.size() - 1) / 5)}">
            <td th:each="asiento : ${asientos.subList(fila * 5, T(java.lang.Math).min((fila + 1) * 5, asientos.size()))}">
                <button
                        th:text="${asiento.numero}"
                        th:disabled="${!asiento.disponible}"
                        th:attr="name='idAsiento', value=${asiento.id}"
                        type="submit"
                        form="form"
                        class="asiento-boton">
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="../">Regresar</a>
</body>
</html>