<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Funciones</title>
</head>
<body>
    <h1 th:text="|Funciones para ${nombre}|"></h1>
    <ol>
        <li th:each="f : ${funciones}">
            <p th:text="${f.horario}"></p>
            <p th:text="|Sala ${f.idSala}|"></p>
            <p th:text="|Pelicula ${f.idPelicula}|"></p>
            <span th:utext="${'&#36;'+'&nbsp;'}" ></span></b><span th:text="${f.precio}"></span>
            <a th:href="@{/asientos(idFuncion=${f.id})}">Elegir asientos</a>
        </li>
    </ol>
    <a href="../">Regresar</a>
</body>
</html>