<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pelicula.getNombre()}"></title>
</head>
<body>
<a href="/cartelera">Regresar a la cartelera</a>
    <h1 th:text="${pelicula.nombre}"></h1>
    <p th:text="${pelicula.descripcion}"></p>
    <p th:text="|${pelicula.duracion} Minutos|">Duracion de la pelicula</p>
    <p th:text="|Clasificacion ${pelicula.clasificacion}|">Clasificacion de la pelicula</p><br>
    <a th:href="@{/funciones(id=${pelicula.id})}"><h2>Comprar boletos</h2></a>

    <div class="miReview" th:if="${reviewExistente.present}">
        <h3>¡Ya calificaste esta película! Puedes actualizar tu review:</h3>
        <form th:action="@{/calificar}" method="post">
            <input type="hidden" name="idPelicula" th:value="${pelicula.id}">

            <textarea id="contenido" name="contenido"
                      th:text="${reviewExistente.get().contenido}"></textarea> <br>

            <label for="calificacion">Calificación</label> <br>
            <select name="calificacion" id="calificacion">
                <option th:value="1" th:selected="${reviewExistente.get().calificacion == 1}">1</option>
                <option th:value="2" th:selected="${reviewExistente.get().calificacion == 2}">2</option>
                <option th:value="3" th:selected="${reviewExistente.get().calificacion == 3}">3</option>
                <option th:value="4" th:selected="${reviewExistente.get().calificacion == 4}">4</option>
                <option th:value="5" th:selected="${reviewExistente.get().calificacion == 5}">5</option>
            </select> <br>
            <input type="submit" value="Actualizar review">
        </form>
    </div>

    <div class="miReview" th:unless="${reviewExistente.present}">
        <h3>Compártenos qué te pareció la película:</h3>
        <form th:action="@{/calificar}" method="post">
            <input type="hidden" name="idPelicula" th:value="${pelicula.id}">

            <textarea id="contenido" name="contenido" placeholder="Escribe tu opinión aquí..."></textarea> <br>

            <label for="calificacion">Calificación</label> <br>
            <select name="calificacion" id="calificacion">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> <br>
            <input type="submit" value="Calificar">
        </form>
    </div>
    <br><br>
    <div class="reviews">
        <h2>Reseñas</h2>
        <th:block>
            <span th:if="${#lists.isEmpty(reviews)}">No hay reseñas sobre esta pelicula.</span>
            <div th:if="${reviews}" th:each="review : ${reviews}">
                <span th:text="${review.usuario.username}">Nombre de usuario</span>
                <br>
                <span th:text="${review.contenido}">Contenido</span>
                <br>
                <span th:text="|Calificacion del usuario: ${review.calificacion}|">Calificacion</span>
                <br><br>
            </div>
        </th:block>
    </div>
</body>
</html>