<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tickets</title>
</head>
<body>
  <h1>Mis Tickets</h1>
  <br>
  <ol>
    <li th:each="t : ${tickets}">
      <p th:text="${t.funcion.pelicula.nombre}"></p>
      <p th:text="${t.funcion.horario}"></p>
      <p th:text="${t.Asiento.id}"></p>
      <form th:action="@{/mostrarQR}" method="get">
        <input type="hidden" name="id" th:value="${t.id}">
        <button type="submit">Mostrar QR</button>
      </form>
      <form th:action="@{/reembolsarTicket}" method="post">
        <input type="hidden" name="id" th:value="${t.id}">
        <button type="submit">Reembolsar</button>
      </form>
    </li>
  </ol>
  <a href="../">Regresar</a>
</body>
</html>